version: '3.8'

services:
  web:
    build: .
    container_name: ai_shooter_web
    restart: always
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: ai_shooter_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=ai_shooter
      - POSTGRES_USER=ai_user
      - POSTGRES_PASSWORD=mypassword

volumes:
  static_volume:
  media_volume:
  postgres_data:
